HELP.md
.gradle
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### For Mac ###
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

### YML ###
application-dev.yml
application-local.yml
application-prod.yml

### PRODUCTION SECRET ###
gradle.properties

### GOOGLE OAUTH2 CLIENT CREDENTIAL ###
gdgoc-tuk-official-459705-d42de1a05b2c.json
credential.json
tokens/**

### JIB Cache ###
build/*
!build/jib-cache/
!build/jib-cache/**
!build/jib-image.digest
!build/jib-image.id
!build/jib-image.json